body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header, .hero, footer {
  background-color: #1F2937;
}

header p{
  font-size: 24px;
  color: #F9FAF8;
  margin-top: 0;
}

header a, .hero-secondary-text {
  font-size: 18px;
  color: #E5E7EB;
}

header {
  display: flex;
}

header ul {
  display: flex;
  list-style: none;
}